:root{
    --color1: #020E17;
    --color2: #0E5159;
    --color3: #09736A;
    --color4: #15AB89;
    --color5: #76D9B9;

    --text-color: white;
    --gray: rgb(222, 222, 222);
    --gray-dark: rgb(190, 190, 190);
}

body {
    background-color: var(--color4);    
}

input {
    max-width: 200px;
    border: 2px solid #aaaaaa;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
}
input:hover, input:focus{
    border-color: var(--color4);
}

.base {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 70%;
}

.screen {
    background-color: var(--text-color);
    border-radius: 25px;
    border-color: transparent;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);    
    padding: 20px 40px;
    margin: 0px 15px;
}

label.label-paramInicial {
    margin-bottom: 5px;
}

.fatoracao-table {
    background-color: var(--gray);
    border-top: 5px solid var(--gray);
    border-bottom: 5px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fatoracao-table td.dividendo {
    border-right: 2px solid black;
    padding: 0px 10px;
    text-align: right;
}
.fatoracao-table td.divisor {
    padding: 0px 10px;
}
.fatoracao-table td.divisor.up {
    background-color: var(--gray-dark);
    border-top: 2px solid var(--gray);
}
.fatoracao-table td.divisor.down {
    background-color: var(--gray-dark);
    border-bottom: 2px solid var(--gray);
}

div.squareroot-space p {
    background-color: var(--gray);
    margin-top: 15px;
    text-align: center;
    padding: 3px 10px;
}

div.squareroot-space p.aviso {
    background-color: transparent;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.btn-theme {
    border-color: var(--color2);
    color: var(--color2);
}
.btn-theme:hover{
    background-color: var(--color3);
}

.modal-footer button.btn-theme{
    border-color: var(--color2);
    color: var(--text-color);
    background-color: var(--color3);
}
.modal-footer button.btn-theme:hover{
    background-color: var(--color2);
    color: var(--text-color);
}

.no-border {
    border: 0px solid transparent;
}